<launch>  
  <!-- handler -->
  <node name="dvs_camera_rig_calibration" pkg="dvs_camera_rig_calibration" type="calibration_handler" output="screen">
	<remap from="hand_pose" to="dvs_calibration/pose" />
	<remap from="eye_pose" to="camera_pose/pose" />
  </node>
  
  <!-- calibration -->
  <node name="visp_hand2eye_calibration" pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator" />
  
</launch>
