<launch>  
  <!-- camera driver -->
  <node name="dvs_ros_driver" pkg="dvs_ros_driver" type="dvs_ros_driver" />

  <!-- visualization -->
  <node name="dvs_renderer" pkg="dvs_renderer" type="dvs_renderer">
    <param name="display_method" value="grayscale"/>
  </node>
  
  <!-- calib node -->
  <node name="dvs_calibration" pkg="dvs_calibration" type="calibration" />
  
</launch>
