<library path="src">
  <class name="Calib" type="dvs_calibration_gui.calib.Calib" base_class_type="rqt_gui_py::Plugin">
    <description>
      Plugin for DVS Calibration
    </description>
    <qtgui>
      <label>DVS Calibration</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>