<launch>
  <!-- visualization -->
  <!--
  <node name="dvs_renderer_left" pkg="dvs_renderer" type="dvs_renderer" output="screen">
    <param name="display_method" value="red-blue"/>
    <remap from="events" to="/dvs/events" />
    <remap from="image" to="/dvs/image_raw" />
    <remap from="dvs_rendering" to="dvs_rendering" />
  </node>
  -->

  <!-- display -->
  <node name="image_view_accumulated" pkg="rqt_image_view" type="rqt_image_view">
  	<remap from="image" to="dvs_accumulated_events"/>
  </node>

  <node name="image_view_accumulated_edges" pkg="rqt_image_view" type="rqt_image_view">
  	<remap from="image" to="dvs_accumulated_events_edges"/>
  </node>

  <!-- plot mean number of events -->
  <node name="dvs_events_stats_plot"
    pkg="rqt_plot"
    type="rqt_plot"
	args="/events_off_mean_1 /events_on_mean_1 /events_off_mean_5 /events_on_mean_5">
  </node>

</launch>

