<launch>
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen" />
  
  <!-- visualization -->
  <node pkg="nodelet" type="nodelet" name="dvs_renderer" args="load dvs_renderer/DvsRendererNodelet nodelet_manager" output="screen">
    <param name="display_method" value="red-blue"/>
    <remap from="events" to="/dvs/events" />
    <remap from="image" to="/dvs/image_raw" />
    <remap from="camera_info" to="/dvs/camera_info" />
  </node>
  
  <!-- camera driver -->
  <node pkg="nodelet" type="nodelet" name="davis_ros_driver" args="load davis_ros_driver/DavisRosDriverNodelet nodelet_manager" output="screen" />

  <!-- display -->
  <node name="image_view" pkg="rqt_image_view" type="rqt_image_view">
  	<remap from="image" to="dvs_rendering"/>
  </node>

  <!-- configure -->
  <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /> -->

</launch>
