<launch>
  <!-- master DAVIS -->
  <node ns="davis" name="davis_ros_driver" pkg="davis_ros_driver" type="davis_ros_driver" output="screen">
    <param name="serial_number" type="str" value="03460003" />
    <!--param name="serial_number" type="str" value="02460074" /-->
    <!--rosparam command="load" file="$(find davis_ros_driver)/config/DAVIS240C.yaml" /-->
    <!--rosparam command="load" file="$(find davis_ros_driver)/config/miniDAVIS346.yaml" /-->
    <rosparam command="load" file="$(find davis_ros_driver)/config/dataset_davis.yaml" />
    <param name="master" value="True"/>

    <!-- timeout before resetting time -->
    <param name="reset_timestamps_delay" value="2.0"/>
  </node>
</launch>
